## .NET
bin/
obj/
[Bb]uild/
[Ll]og/
[Ll]ogs/
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates
*.pidb
*.svclog
*.ncb
*.sdf
*.opensdf
*.dbmdl
*.jfm
*.pfx
*.publishsettings
*.nuget.props
*.nuget.targets

# Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
*.rsuser
*.suo
*.cache
project.lock.json
artifacts/

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.dgspec.json
project.assets.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Windows / OS
Thumbs.db
Desktop.ini
.DS_Store

# Publish output
publish/
*.pubxml
*.pubxml.user
